@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1c1a;
  --text-primary: #eeebdd;

  --gray: #292825;
  --secondary-gray: #3f3e3a;
  --light-gray: #918d84;

  --orange: #d14424;
  --secondary-orange: #b2391e;

  --blue: #73c2ff;
  --secondary-blue: #0073e6;
  /* --mast-light-orange: #f89d3f; */
}

@layer base {
  body {
    @apply font-mono;
  }

  h1,
  h2,
  h3 {
    @apply font-sans font-bold;
  }

  p {
    @apply text-sm md:text-base;
  }
}

/* 
#B0A77D
#4CA78A
#2480D1
#3A3936
#2480D1


#B0A77D, #938c77, #4CA78A	#EEEBDD, 
	#D14424, #9F351C, #3A3936	
	#C5BBA0, #7A6E52
*/

/* 
17
*/
