@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1c1a;
  --text-primary: #eeebdd;

  --gray: #292825;
  --secondary-gray: #3f3e3a;
  --light-gray: #918d84;

  --orange: #d14424;
  --secondary-orange: #b2391e;

  --blue: #73c2ff;
  --secondary-blue: #0073e6;
  /* --mast-light-orange: #f89d3f; */
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #eeebdd !important; /* Optional: control text color */
}

@layer base {
  body {
    @apply font-mono;
  }

  h1,
  h2,
  h3 {
    @apply font-sans font-bold;
  }

  p,
  label {
    @apply text-sm md:text-base;
  }

  label,
  input,
  textarea {
    @apply w-full block;
  }

  input,
  textarea {
    @apply my-1 bg-background border-gray-secondary border-[2px] focus:outline-none focus:ring-0 px-3 py-3 text-xs md:text-sm;
  }

  textarea {
    @apply min-h-[129px];
  }

  form span {
    @apply text-xs italic text-orange-secondary;
  }
}

/* 
#B0A77D
#4CA78A
#2480D1
#3A3936
#2480D1


#B0A77D, #938c77, #4CA78A	#EEEBDD, 
	#D14424, #9F351C, #3A3936	
	#C5BBA0, #7A6E52
*/

/* 
17
*/
